<div *ngIf="events" class="responsive">
  <mat-card *ngFor="let event of events" [routerLink]="'/event/' + event.id">
    <mat-card-header>
      <mat-card-title>{{ event.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Začetek dogodka:
        {{ event.begins_at | date : "dd.MM.YYYY 'ob' HH:mm:ss" }}
      </p>
      <p>Trenutno prijavljenih: {{ event.event_participant.length }}</p>
      <p>
        Objavljeno: {{ event.published_at | date : "dd.MM.YYYY 'ob' HH:mm:ss" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button [routerLink]="'/event/' + event.id" color="primary">
        Več o dogodku
      </button>
    </mat-card-actions>
  </mat-card>
</div>
