<div>
  <table *ngIf="events" mat-table [dataSource]="events">
    <caption>
      Vsi dogodki
    </caption>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Ime dogodka</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="published_at">
      <th mat-header-cell *matHeaderCellDef>Dogodek objavljen</th>
      <td mat-cell *matCellDef="let element">
        {{ element.published_at | date: "dd.MM.YYYY 'ob' HH:mm:ss" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="begins_at">
      <th mat-header-cell *matHeaderCellDef>Dogodek se začne</th>
      <td mat-cell *matCellDef="let element">
        {{ element.begins_at | date: "dd.MM.YYYY 'ob' HH:mm" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="participant_count">
      <th mat-header-cell *matHeaderCellDef>Trenutno prijavljenih</th>
      <td mat-cell *matCellDef="let element">
        {{ element.event_participant[0].count }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [routerLink]="'/event/' + row.id"
    ></tr>
  </table>
</div>
